{'SampleURLS' : [http://www.bestbuy.com/site/Epson+PowerLite+Projector,+Ceiling+Mount+%26+92%22+Screen+Package/9999154900050001.p?id=pcmprd154800050001&skuId=9999154900050001, http://www.bestbuy.com/site/Geek+Squad%26%23174;+-+Whole+Room+Setup+with+Nonconcealed+Wires/1287328.p?id=1218247183156&skuId=1287328, http://www.bestbuy.com/site/Dynex%26%23153;+-+7%22+Portable+DVD+Player/9687009.p?id=1218149733849&skuId=9687009],
 'ContentExtractionRules' : ['title'],
 'PredicateList':[title]
}

