{'SampleURLS' : ['http://www.bestbuy.com/site/Epson+PowerLite+Projector,+Ceiling+Mount+%26+92%22+Screen+Package/9999154900050001.p?id=pcmprd154800050001&skuId=9999154900050001', 'http://www.bestbuy.com/site/Flip+Video+-+UltraHD+(3rd+Generation)+Camcorder+-+2+Hour+-+Black/Silver/1159311.p?id=1218227991686&skuId=1159311', 'http://www.bestbuy.com/site/Sony+-+Factory-Refurbished+HDR-CX150+16GB+HD+Flash+Memory+Camcorder/2781159.pid=1218351306616&skuId=2781159'],
 'ContentExtractionRules' : ['title'],
 'PredicateList':['title']
}

