{'SampleURLS' : ['http://www.bestbuy.com/site/Epson+PowerLite+Projector,+Ceiling+Mount+%26+92%22+Screen+Package/9999154900050001.p?id=pcmprd154800050001&skuId=9999154900050001', 'http://www.bestbuy.com/site/Access+HD+-+Digital+TV+Signal+Converter/2006178.p?id=1218305634944&skuId=2006178', 'http://www.bestbuy.com/site/Pro-Form+-+Power+1080+Treadmill/1688192.p?id=1218280806210&skuId=1688192'],
 'ContentExtractionRules' : ['title'],
 'PredicateList':['title']
}

